/*Just in case the pushing doesn't end up working for this computer, the font-family should be working but it won't push to GitHub*/

body {
    background-color: rgb(250, 242, 229);
    font-family: "panel-sans", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.grid-container {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: auto auto 25%;
}

.grid-item {
    border-color: rgb(175, 27, 45);
    border-width: 5px;
    border-style: solid;
    padding:20px;
    text-align: center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 10px;
    overflow: hidden;
    background-color: #333;
    text-align: center;
  }

  li {
    display: inline-block;
  }
  
  
  li a {
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #111;
  }

.contact-info {
    grid-row: 2;
    grid-column: 1 / span 2;
}

.announce {
    grid-row: 2;
    grid-column: 3 / span 2;
}

h2 {
    text-align: center;
    color: rgb(103, 11, 11);
}

.privates {
    grid-row: 3;
    grid-column: 1;
}

.fprograms {
    grid-row: 3;
    grid-column: 2;
}

.tryouts {
    grid-row: 3;
    grid-column: 3 / span 2;
}

.why {
    grid-row: 2;
    grid-column: 1 / span 4;
}

.mission {
    grid-row: 3;
    grid-column: 1 / span 4;
}

.cphil {
    grid-row: 3;
    grid-row: 2 / span 3;
}

.one {
    grid-row: 4;
    grid-column: 1;
}

.two {
    grid-row: 4;
    grid-column: 2;
}

.three {
    grid-row: 5;
    grid-column: 1;
}

.four {
    grid-row: 5;
    grid-column: 2;
}

.five {
    grid-row: 6;
    grid-column: 1;
}

.six {
    grid-row: 6;
    grid-column: 2;
}

.seven {
    grid-row: 7;
    grid-column: 1;
}

.eight {
    grid-row: 7;
    grid-column: 2;
}

.nine {
    grid-row: 8;
    grid-column: 1;
}

.ten {
    grid-row: 8;
    grid-column: 2;
}

.eleven {
    grid-row: 9;
    grid-column: 1;
}

.twelve {
    grid-row: 9;
    grid-column: 2;
}

.alum-one {
    grid-row: 3;
    grid-column: 1;
    height:500px;
}

.alum-two {
    grid-row: 3;
    grid-column: 2;
}

.alum-three {
    grid-row: 4;
    grid-column: 1;
}

.alum-four {
    grid-row: 4;
    grid-column: 2;
}

.alum-five {
    grid-row: 5;
    grid-column: 1;
}

.alum-six {
    grid-row: 5;
    grid-column: 2;
}

.alum-seven {
    grid-row: 6;
    grid-column: 1;
}

.alum-eight {
    grid-row: 6;
    grid-column: 2;
}

.alum-nine {
    grid-row: 7;
    grid-column: 1;
}

.alum-ten {
    grid-row: 7;
    grid-column: 2;
}

.alum-eleven {
    grid-row: 8;
    grid-column: 1;
}

.alum-twelve {
    grid-row: 8;
    grid-column: 2;
}

.alum-thirteen {
    grid-row: 9;
    grid-column: 1;
}

.alum-fourteen {
    grid-row: 9;
    grid-column: 2;
}

.alum-fifteen {
    grid-row: 10;
    grid-column: 1;
}

.reason-paragraph {
    grid-row: 2;
    grid-column: 1 / span 4;
}

.purpose {
    grid-row: 3;
    grid-column: 1 / span 2;
}

.elig {
    grid-row: 3;
    grid-column: 3 / span 2;
}

.deadline {
    grid-row: 4;
    grid-column: 1 / span 2;
}

.criteria {
    grid-row: 4;
    grid-column: 3 / span 2;
}

.applic {
    grid-row: 5;
    grid-column: 1 / span 4;
}