body {
    background-color: gray;
}

.nav {
    list-style-type: none;
    background-color: darkgray;
    margin: 0;
    padding:0;
    overflow: hidden;
}

ul.nav li {
    float: left;
}

ul.nav li a {
    display: block;
    padding: 8px 16px;
    color: black;
    text-decoration: none;
    font-size: 20px;
}

.grid-container {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: auto auto 25%;
}

.grid-item {
    background-color: lightblue;
    text-align: center;
    font-size: 30px;
    padding: 20px;
}

.navmenu {
    grid-row:1;
    grid-column: 1 / span 3;
}

.main-image {
    grid-column: 1 / span 3;
    grid-row: 2;
}

.main1 {
    grid-column: 1 / span 2;
    grid-row: 3;
    text-align: center;
}

.main2 {
    grid-column: 1 / span 1;
    grid-row: 4;
}

.main3 {
    grid-column: 2 / span 1;
    grid-row: 4;
}

.sidenav {
    grid-column: 3;
    grid-row: 3 / span 3;
}

.footer {
    position: fixed;
    left: 0;
    bottom:0;
    text-align: center;
    width: 100%;
    background-color: white;
}

.firstthing {
    grid-column: 1 / span 5;
    grid-row: 2;
    text-align: center;
}

.grid-thing {
    text-align: center;
    font-size: 15px;
    padding: 10px;
}

.menubar {
    grid-row:1;
    grid-column: 1 / span 5;
}

.firstmovie {
    grid-column: 1 / span 1;
    grid-row: 3;
    width: 210px;
}

.p-font {
    font-size: smaller;
}

.secondmovie {
    grid-column: 2 / span 1;
    grid-row: 3;
    width: 210px;
}

.thirdmovie {
    grid-column: 3 / span 1;
    grid-row: 3;
    width: 210px;
}

.fourthmovie {
    grid-column: 4 / span 1;
    grid-row: 3;
    width: 210px;
}

.fifthmovie {
    grid-column: 5 / span 1;
    grid-row: 3;
    width: 210px;
}


